:root {
    --image-width: 640px;
    --image-height: 426px;
}

.image-carousel-section {
    margin-top: 112px;
}

.picture-frame {
    margin: auto;
    margin-top: 64px;
    background-color: black;
    position: relative;
    width: 640px;
    height: 426px;
    border: 7px solid rgb(46, 46, 46);
    position: relative;
    border-radius: 1%;
    overflow: hidden;
}

.slides-container {
    display: flex;
    gap: 0;
    width: 5000px;
    position: absolute;
    transition: transform 0.5s ease;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: calc(var(--image-width) / 2);
    margin-top: 12px;
}

.left-button,
.right-button {
    width: 100px;
    padding: 12px;
    font-size: 1.2rem;
    border-radius: 10%;
}

.left-button:hover,
.right-button:hover {
    background-color: lightgray;
}

.left-button:active,
.right-button:active {
    background-color: gray;
}

.slide-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 12px;
    padding: 8px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.slide-buttons button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: gray;
    cursor: pointer;
}

.slide-buttons button:hover {
    background-color: lightgreen;
}

.slide-buttons button.active {
    background-color: green;
}
